$class-prefix-picker: 'adm-scroll-header';

.#{$class-prefix-picker} {
  display: flex;
}

.#{$class-prefix-picker}-scroll-view {
  white-space: nowrap;
  display: flex;

  &.need-scroll:not(.no-more) {
    box-shadow: 8px 0 8px -4px rgba(0, 0, 0, 0.1);
  }

  &.need-scroll.show-more {
    width: calc(100% - 60px);
  }
}

.#{$class-prefix-picker}-open-btn {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: none;
  position: relative;
  z-index: 1;

  &:not(.no-more) {
    box-shadow: -8px 0px 8px -4px rgba(0, 0, 0, 0.1);
  }
}

.#{$class-prefix-picker}-close-btn {
  text-align: center;
  font-size: var(--adm-font-size-4);
  color: var(--adm-color-weak);
  line-height: 72px;
  border-top: solid 2px var(--adm-color-border);
}

.#{$class-prefix-picker}-open-content {
  padding: 0 32px;
}

.#{$class-prefix-picker}-popup {
  position: fixed;
  overflow: hidden;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;

  &.is-active {
    .#{$class-prefix-picker}-popup-body {
      visibility: visible;
      opacity: 1;
    }
  }
}

.#{$class-prefix-picker}-popup-mask {
  position: absolute;
  transition: visibility 100ms 100ms ease, opacity 150ms ease;
}

.#{$class-prefix-picker}-popup-body {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: visibility 200ms ease, opacity 150ms ease;
  @at-root :global(.adm-popup.is-active) .popup-body {
    visibility: visible;
    opacity: 1;
  }
}
