$class-prefix-tag: 'adm-tag';

.#{$class-prefix-tag} {
  --adm-color-primary: #1677ff;
  --adm-color-info: #155ACF;
  --adm-color-success: #00b578;
  --adm-color-warning: #ff8f1f;
  --adm-color-danger: #ff3141;

  --border-radius: var(--adm-tag-border-radius, 4px);
  padding: 4px 8px;
  font-size: var(--adm-font-size-3);
  line-height: 1;
  font-weight: normal;
  background: var(--background-color);
  color: var(--text-color);
  display: inline-block;
  white-space: nowrap;
  border-radius: var(--border-radius);
  border: 2px solid #FFF;
  box-sizing: border-box;

  &-round {
    border-radius: 200px;
  }
}
