$class-prefix-tabs: 'adm-tabs';

@mixin common {
  --title-font-size: var(--adm-font-size-9);
  --content-padding: 24px;
  --active-line-height: 4px;
  --active-line-border-radius: var(--active-line-height);
  --active-line-color: var(--adm-color-primary);
  --active-title-color: var(--adm-color-primary);
}

.#{$class-prefix-tabs} {
  @include common;
  position: relative;
  // Hack for auto scroll fail when the parent element is a flex layout
  min-width: 0;

  &-header {
    @include common;
    position: relative;
    display: flex;
    border-bottom: solid 2px var(--adm-color-border);
  }

  &-tab-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    scrollbar-width: none;
  }

  &-tab-wrapper {
    padding: 0 24px;
    display: inline-block;

    &-stretch {
      flex: auto;
    }
  }

  &-tab {
    white-space: nowrap;
    padding: 16px 0 20px;
    width: min-content;
    margin: 0 auto;
    font-size: var(--title-font-size);
    position: relative;
    cursor: pointer;
  }

  &-tab-active {
    color: var(--active-title-color);
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -2px;
      width: 100%;
      height: var(--active-line-height);
      background: var(--active-line-color);
      border-radius: var(--active-line-border-radius);
    }
  }

  &-tab-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &-content {
    font-size: var(--adm-font-size-6);
    padding: var(--content-padding);
  }

  &-header-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 60px;
    height: 100%;
    pointer-events: none;
  }

  &-header-mask-left {
    left: 0;
    background: linear-gradient(to right,
            var(--adm-color-background),
            rgba(255, 255, 255, 0));
  }

  &-header-mask-right {
    right: 0;
    background: linear-gradient(to left,
            var(--adm-color-background),
            rgba(255, 255, 255, 0));
  }
}
