$class-prefix-divider: 'adm-divider';

.#{$class-prefix-divider} {
}

.#{$class-prefix-divider}-horizontal {
  display: flex;
  align-items: center;
  margin: 32px 0;
  border-width: 0;
  border-color: var(--adm-color-border);
  border-style: solid;
  color: var(--adm-color-weak);
  font-size: 28px;

  &.adm-divider-left:before {
    max-width: 10%;
  }

  &.adm-divider-right:after {
    max-width: 10%;
  }

  &:after,
  &:before {
    flex: auto;
    display: block;
    content: '';
    border-style: inherit;
    border-color: inherit;
    border-width: 2px 0 0;
  }

  .adm-divider-content {
    flex: none;
    padding: 0 32px;
  }
}

.#{$class-prefix-divider}-vertical {
  position: relative;
  top: -0.06em;
  display: inline-block;
  height: 0.9em;
  margin: 0 32px;
  vertical-align: middle;
  border-top: 0;
  border-left: 2px solid var(--adm-color-border);
}
