page, body, .adm-root-portal {
  --adm-radius-s: 8px;
  --adm-radius-m: 16px;
  --adm-radius-l: 24px;

  --adm-font-size-1: 18px;
  --adm-font-size-2: 20px;
  --adm-font-size-3: 22px;
  --adm-font-size-4: 24px;
  --adm-font-size-5: 26px;
  --adm-font-size-6: 28px;
  --adm-font-size-7: 30px;
  --adm-font-size-8: 32px;
  --adm-font-size-9: 34px;
  --adm-font-size-10: 36px;

  // variables should be exposed to users:
  --adm-color-primary: #1677ff;
  --adm-color-success: #00b578;
  --adm-color-warning: #ff8f1f;
  --adm-color-danger: #ff3141;

  --adm-color-white: #ffffff;
  --adm-color-text: #333333;
  --adm-color-text-secondary: #666666;
  --adm-color-weak: #999999;
  --adm-color-light: #cccccc;
  --adm-color-border: #f1f1f1;
  --adm-color-box: #f5f5f5;
  --adm-color-background: #ffffff;

  --adm-font-size-main: var(--adm-font-size-5);

  --adm-font-family: -apple-system, blinkmacsystemfont, 'Helvetica Neue',
  helvetica, segoe ui, arial, roboto, 'PingFang SC', 'miui',
  'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;

  // The variables below are deprecated and only exist for backward compatibility:
  --adm-border-color: var(--adm-color-border);
}

page, body, .adm-root-portal {
  color: var(--adm-color-text);
  font-size: var(--adm-font-size-main);
  font-family: var(--adm-font-family);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.adm-px-tester {
  --size: 1;
  height: calc(var(--size) / 2 * 2px);
  width: 0;
  position: fixed;
  right: -100vw;
  bottom: -100vh;
  user-select: none;
  pointer-events: none;
}

.adm-mask {
  --z-index: var(--adm-mask-z-index, 1000);

  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index);
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: visibility 200ms ease, opacity 150ms ease;
  background: rgba(0, 0, 0, 0.55);

  &.is-active {
    visibility: visible;
    opacity: 1;
  }

  &-aria-button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &-content {
    z-index: 1;
  }
}
