.adm-list {
  --header-font-size: var(--adm-font-size-7);
  --prefix-width: 'auto';
  --prefix-padding-right: 24px;
  --align-items: center;
  --active-background-color: var(--adm-color-border);
  --border-inner: solid 2px var(--adm-color-border);
  --border-top: solid 2px var(--adm-color-border);
  --border-bottom: solid 2px var(--adm-color-border);
  --padding-left: 24px;
  --padding-right: 24px;
  --font-size: var(--adm-font-size-9);
  --extra-max-width: 70%;

  &-header {
    color: var(--adm-color-weak);
    font-size: var(--header-font-size);
    padding: 16px var(--padding-right) 16px var(--padding-left);
  }

  &-body {
    background-color: var(--adm-color-background);
    overflow: hidden;
    font-size: var(--font-size);
  }

  //&-body-inner {
  //  margin-top: -2px;
  //}

  &-default {
    .adm-list-body {
      //border-top: var(--border-top);
      //border-bottom: var(--border-bottom);
    }
  }

  &-card {
    margin: 24px;

    .adm-list-body {
      border-radius: 16px;
    }

    .adm-list-header {
      padding-left: 0;
    }
  }
}

.adm-list-item {
  font-size: var(--font-size);
  display: flex;
  align-items: var(--align-items);
  justify-content: flex-start;
  border-top: var(--border-inner);
  padding-right: var(--padding-right);
  padding-left: var(--padding-left);
  position: relative;
  background-color: var(--adm-color-background);
  line-height: 1.5;

  &-title,
  &-description {
    color: var(--adm-color-weak);
    font-size: var(--adm-font-size-main);
  }

  //&:first-child .adm-list-item-content {
  //  border-top: none;
  //}

  &-content-prefix {
    width: var(--prefix-width);
    flex: none;
    padding-right: var(--prefix-padding-right);
  }

  &-content-main {
    flex: auto;
    padding: 24px 0;
  }

  &-content-extra {
    flex: none;
    padding-left: 24px;
    font-size: var(--adm-font-size-7);
    color: var(--adm-color-weak);
    max-width: var(--extra-max-width);
  }

  &-content-arrow {
    flex: none;
    display: flex;
    align-items: center;
    margin-left: 16px;
    color: var(--adm-color-light);

    image {
      width: 38px;
      height: 38px;
    }
  }

  &-disabled {
    cursor: not-allowed;
    opacity: 0.4;
    pointer-events: none;
  }
}

.adm-list-item {
  //&:active:not(.adm-list-item-disabled) {
  //  background-color: var(--active-background-color);
  //
  //  &::after {
  //    content: ' ';
  //    display: block;
  //    position: absolute;
  //    width: 100%;
  //    bottom: -2px;
  //    left: 0;
  //    border-bottom: var(--border-inner);
  //  }
  //}
}
